body { padding-top: 100px; }
.container {
	width: 1170px;
}
.nav-bar {
	width: 1170px;
}

.navbar-fixed-top .container {
	width: 1170px;	
}

.well h3 {
	padding:5px;
}
.well h3.active {
	background-color: #18bc9c;
	border-radius: 10px;
}
.nav-list li {
	fot-size: 24px;
}

img.season-poster {
	width:138px;
	height: 207px;
}

span.love-icon {
	padding-top: 7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	height: 36px;
	width: 39px;
	background: url(/img/icon-love-large.png) no-repeat;
}